<% if @projects.any? %>
  <ul role="list" class="divide-y divide-gray-100">
    <% @projects.each do |project| %>
      <li class="flex items-center justify-between gap-x-6 py-5">
        <div class="min-w-0">
          <div class="flex items-start gap-x-3">
            <p class="text-sm font-semibold leading-6 text-gray-900"><a href="/projects/<%= project.id %>"><%= project.title %></a></p>
          </div>
          <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
            <p class="whitespace-nowrap">
              Added <time datetime="2023-03-17T00:00Z"><%= project.created_at.strftime("%B %d, %Y") %></time></p>
          </div>
        </div>
        <div class="flex flex-none items-center gap-x-4">
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  No projects found
<% end %>
